@model IEnumerable<Bid>

@{
    Layout = "_adminPanelTemplate";
}

<h2 class="seller-head">Bidder</h2>

@foreach(var prop in Model){

<table class="item-table">
    <tr>
        <td>Item Name</td>
        <td>@prop.Product.Name</td>
    </tr>
    <tr></tr>

    <tr>
        <td>Cost</td>
        <td>@prop.Cost</td>
    </tr>

     <tr>
        <td>Decision</td>
        <td>@prop.Bidstatus</td>
    </tr>
     <tr>
        <td>Bidder</td>
        <td>@prop.Bidder</td>
    </tr>
       
           
               
            

     
   
  </table>
  <br/><br/>

   
  
}
