@model IEnumerable<WebApp1.Models.User>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_adminPanelTemplate";
}
<h2>All the user of LocoTrade: </h2>

<table class="item-table">
    <thead>
        <tr>
            
            <th> UserName</th>
            <th>Email </th>
            
        </tr>
    </thead>
    <tbody>
        
        @foreach (var username in @ViewBag.users)
        {
            <tr>
            
                <td>@username.UserName</td>
                <td>@username.Email</td>
                </tr>
                
        }
        
    </tbody>
</table>