@{
    ViewData["Title"] = "Home Page";
}

<div class="welcome container">
    <div class="welcome-container">
        <div class="welcome-text">
            <h1>Welcome to LocoTrade</h1>
            <h3>Best Place for biding item</h3>
            <a  class="bid-button" asp-fragment="mainContent">Start Bidding</a>
        </div>
        <div class="welcome-img">
            <img src="Header_img.png">
        </div>

    </div>
    <div id="mainContent">

    </div>
</div>
