<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LocoTrade</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp1.styles.css" asp-append-version="true" />

</head>
<body>
    <header>
        <div class="wrap">
            <div class="web-logo">
                <a asp-action="index" asp-controller="Home"><img src="~/logo.png" class="logo" /></a>
            </div>
            <div class="search-bar">
                <form asp-controller="Search" asp-action="QueueResult">
                    <input type="text" name="item" class="txtSearch" />
                    <input type="submit" value="Search" class="searchButton">
                </form>
            </div>
            @*<div class="btns">
            <div class="register">
            <a class="sec-last" asp-area="" asp-controller="User" asp-action="Register">Register</a>
            </div>
            <div class="login">
            <a class="last" asp-area="" asp-controller="User" asp-action="Login">Login</a>
            </div>
            </div>*@
           
            <partial name="_LoginPartial" />
        </div>
        <nav class="second-nav">
            <ul>
                

                
                <li><a asp-action="QueueResult" asp-route-item="Electronic" asp-controller="Search" class="elc">Electronics</a></li>
                <li><a asp-action="QueueResult" asp-route-item="Home" asp-controller="Search" class="elc">Home</a></li>
                <li><a asp-action="QueueResult" asp-route-item="Fashion" asp-controller="Search" class="elc">Fashion</a></li>
                <li><a asp-action="QueueResult" asp-route-item="Books" asp-controller="Search" class="elc">Books</a></li>
            </ul>
        </nav>

    </header>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>

        <h1>Developed By the Group 70</h1>
        <div class="EveryInfo">
            <div class="info">
                <h3>Prakash Kumar</h3>
                <h4>Student id : 101341685</h4>
                <h4>Course : Web Application Development (COMP2139)</h4>
                <h4>Section: B</h4>
                <p>Developed UX, connect all the component, and fix all the bugs. Worked on all the backend of seller.</p>
            </div>

            <div class="info">
                <h3>Sarah Moustafa</h3>
                <h4>Student id : 101376641</h4>
                <h4>Course : Web Application Development (COMP2139)</h4>
                <h4>Section: B</h4>
                <p>Works on UX for seller panel and search </p>
            </div>

            <div class="info">
                <h3>Jayden Nguyen</h3>
                <h4>Student id : 101363755</h4>
                <h4>Course : Web Application Development (COMP2139)</h4>
                <h4>Section: B</h4>
                <p>Worked on search bar and Login Register</p>
            </div>
            @*<div class="info">
            <h3>Yeganeh Daneshparvar</h3>
            <h4>Student id : 101383730</h4>
            <h4>Course : Web Application Development (COMP2139)</h4>
            <h4>Section: D</h4>
            <p>worked on registration login, authorization</p>
            </div>*@

        </div>

        <p class="copy-right"> &copy; 2023 - LocoTrade - <a asp-area="" asp-controller="Home" asp-action="Index">LocoTrade</a></p>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
