<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LocoTrade</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp1.styles.css" asp-append-version="true" />

</head>
<body>
    <header>
        <div class="wrap">
            <div class="web-logo">
                <a asp-action="index" asp-controller="Home"><img src="~/logo.png" class="logo" /></a>
            </div>
            <div class="search-bar">
                <form asp-controller="Search" asp-action="index">
                    <input type="text" name="item" class="txtSearch" />
                    <input type="submit" value="Search" class="searchButton">
                </form>
            </div>
            <div class="btns">
                <div class="register">
                <a class="sec-last" asp-area="" asp-controller="User" asp-action="Register">Register</a>
                </div>
                <div class="login">
                    <a class="last" asp-area="" asp-controller="User" asp-action="Login">Login</a>
                </div>
            </div>
        </div>

        <nav class="second-nav">
            <ul>
                <li id="panel"><a><svg class="svg-icon" viewBox="0 0 20 20">
							<path fill="none" d="M3.314,4.8h13.372c0.41,0,0.743-0.333,0.743-0.743c0-0.41-0.333-0.743-0.743-0.743H3.314
								c-0.41,0-0.743,0.333-0.743,0.743C2.571,4.467,2.904,4.8,3.314,4.8z M16.686,15.2H3.314c-0.41,0-0.743,0.333-0.743,0.743
								s0.333,0.743,0.743,0.743h13.372c0.41,0,0.743-0.333,0.743-0.743S17.096,15.2,16.686,15.2z M16.686,9.257H3.314
								c-0.41,0-0.743,0.333-0.743,0.743s0.333,0.743,0.743,0.743h13.372c0.41,0,0.743-0.333,0.743-0.743S17.096,9.257,16.686,9.257z"></path>
						</svg></a></li>
                <li><a asp-action="" asp-controller="Search" class="elc">Electronics</a></li>
                <li><a asp-action="" asp-controller="Search" class="elc">Home</a></li>
                <li><a asp-action="" asp-controller="Search" class="elc">Fashion</a></li>
                <li><a asp-action="" asp-controller="Search" class="elc">Books</a></li>
            </ul>
            

        </nav>
        
    </header>


     <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer>

        <h1>Developed By the Group 70</h1>
        <div class="EveryInfo">
            <div class="info">
                <h3>Prakash Kumar</h3>
                <h4>Student id : 101341685</h4>
                <h4>Course : Web Application Development (COMP2139)</h4>
                <h4>Section: B</h4>
                <p>Developed UX, seller Panel connect all the component</p>
            </div>

            <div class="info">
                <h3>Sarah Moustafa</h3>
                <h4>Student id : 101376641</h4>
                 <h4>Course : Web Application Development (COMP2139)</h4>
                <h4>Section: B</h4>
                <p>Works on UX and seller panel</p>
            </div>

            <div class="info">
                <h3>Jayden Nguyen</h3>
                <h4>Student id : 101363755</h4>
                 <h4>Course : Web Application Development (COMP2139)</h4>
                <h4>Section: B</h4>
                <p>Worked on search bar and login/register page </p>
            </div>
            
             
        </div>
        
            <p class="copy-right"> &copy; 2023 - LocoTrade - <a asp-area="" asp-controller="Home" asp-action="Index">LocoTrade</a></p>
      
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
