* {
    margin: 0;
    padding: 0;
}


html {
    font-size: 14px;
}



html {
    min-width: 550px;
    position: relative;
}

body {
    color: black;
}


header {
    color:white;
    overflow: hidden;
    position: fixed;
    width: 100%;
    text-align: center;
    background: #909caf;
    z-index: 999;
}


.wrap {
    color:white;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}


.search-bar {
    display: flex;
    align-items: center;
    padding: 0, 10%;
    height: 40px
}

.web-logo {
    display: flex;
    float: left;
    padding-left: 10px;
    width: 150px;
}

.logout {
    display: flex;
    float: right;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
}

.greeting {
    margin-top: .5rem;
    display: flex;
    float: right;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
}

.greeting:hover {
    background-color: white;
    border-radius: 3px;
}
.login, .register {
    display: flex;
    float: right;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
}

.logo {
    text-decoration: none;
    width: 100%;
    margin: 2%;
}


.txtSearch {
    width: 25rem;
    padding: 1.5%;
    margin: 0.2%;
}


.searchButton {
    margin-left: 10px;
    padding: 0 1%;
    background: #ffd256;
}

.second-nav {
    padding: 5px;
    text-align: center;
    align-content: center;
    background: #52678E
}

    .second-nav ul li {
        display: inline;
        margin-right: 6%;
    }

.register:hover {
    background-color: white;
    border-radius: 3px;
}

.login:hover {
    background-color: white;
    border-radius: 3px;
}

main {
    color:white;
    padding-top: 56px;
    min-height: 100vh;
    background-color: #002b58;
}

.Sellbtns {
    float: left;
    width: 60%;
}

    .Sellbtns ul li {
        display: inline;
    }

    .Sellbtns ul li {
        padding: 2%;
    }

.welcome {
    margin: 0;
    padding: 0;
    background: #002b58;
    height: 80vh;
    width: 100%;
    position: relative;
    margin: 5% 0 0 0;
    text-align: center;
}

.welcome-text, .welcome-img {
    width: 50%;
}

h5 {
    font-size: xx-large;
    font-weight: 400;
}

.bid-button {
    text-decoration: none;
    padding: 0.8%;
    border-radius: 3%;
    border: 1px solid #2a2a23;
    color: #191919;
    background: #ffd256;
    margin: 2% 0 0 -4%;
    position: absolute;
}

.welcome-container {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.copy-right {
    width: 100%;
    text-align: center;
    background: #909caf;
    padding: 2% 0;
}

form {
    display: flex;
    margin: 1% 0 0 0;
}


.elc:hover {
    background-color: white;
    border-radius: 5px;
    padding: 2px;
}

.acc-icon:hover {
    background-color: white;
    border-radius: 5px;
    padding: 2px;
}


.EveryInfo {
    display: flex;
}

    .EveryInfo h1 {
        width: 100%;
        display: block;
    }

.info {
    width: 33%;
    padding: 4%;
}



/*
CSS for images in table
*/

.item-image {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

    .item-image:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }

a {
    color: white;
    text-decoration: none;
}

#mainDisplay {
    position: relative;
    background: white;
    top: 80%;
}

#mainDisplay {
    display: flex;
    flex-wrap: wrap;
    color: black;
    margin-bottom:2%;
}

    #mainDisplay a {
        color: black;
    }

.cateDis {
    padding: 2%;
    width: 33%;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

    .cateDis img {
        width: 100%;
        max-width: 400px;
    }

/*Create Item Page*/
.det, .crt, .pt-5, .edt {
    margin-left: 10px;
    margin-top: 4rem;
}

.create {
    background-color: aliceblue;
}

.create_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

fieldset {
    width: auto;
}

    fieldset > legend {
        text-align: left;
        font-size: 30px;
        color: black;
        font-weight: bold;
        margin-top: .5rem;
    }

.create_form label {
    display: inline-block;
    width: 170px;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
    font-size: 15px;
    color: black;
}

.create_form input {
    display: inline-block;
    width: 20rem;
    border-radius: 3px;
}

.create_form textarea {
    display: inline-block;
    width: 20rem;
    border-radius: 3px;
}

.form-group {
    display: flex;
    padding: .5rem;
    margin-bottom: 20px
}

.seller_id {
    float: right;
    padding: .5rem;
}

.input-id {
    display: inline-block;
    width: 10rem;
    border-radius: 3px;
}

.id-label {
    display: inline-block;
    width: 170px;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
    font-size: 15px;
    color: black;
}

input.btn-primary {
    margin-left: 20rem;
    width: 9rem;
    background-color: dodgerblue;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold
}

.form-btn {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.back {
    padding: 15px;
}

.add {
    padding: 1rem;
}

/*Item Deatils, Edit, Delete Pages*/
.details {
    padding-left: 20px;
}

.del {
    margin-left: 1rem;
}

.deltitle {
    margin-left: 10px;
    margin-top: 4rem;
}

footer {
    color:white;
    width: 100%;
    padding: 10px 0 0 0;
    text-align: center;
    background: #52678E;
    position: absolute;
    margin-bottom: 0;
}


/*Seller Items*/
.item-table {
    font-family: arial, sans-serif;
    margin: 10px;
    border-collapse: collapse;
    width: 70%;
}

td {
    text-align: left;
    padding: 8px;
    color: black
}
tr {
    border: 0.5px solid black;
    border-block-color: inherit;
}

.seller-item {
    background-color:ghostwhite;
    padding: 20px;
}
.item-table td:first-child {
    font-weight: bold;
}

.seller-head{
    margin: 10px;
}

@media screen and (max-width: 600px) {
    .item-table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        
    }
  tr {
    display: block;
    border: none;
  }
    tr {
        border: 0.5px solid black;
        border-block-color: inherit;
    }

    td {
        display: block;
        font-weight: bold;
        font-size: 10px;
    }
    .seller-item {
        background-color: ghostwhite;
        padding: 10px;
    }

    .item-table td:first-child {
        font-weight: bold;
    }
}

/*Search*/
.product-image {
    height: 100px;
    vertical-align: middle;
    border-style: none;
    flex: 0 0 25%;
    max-width: 25%;
}

.text-right {
    margin-top: 0.25rem;
    color: black;
}

.p-2 {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    margin-right: 100px;
    margin-left: 250px;
}

.item-row {
    justify-content: center;
}

.text-price {
    color: black;
    font-size: 2rem;
}


.mt-1 {
    color: black;
}

.d-flex {
    display: flex;
    justify-content: left;
    color: black;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.border-left {
    border-left: 0.5px solid black;
}

.product-image {
    width: 100%
}


.spec-1 {
    color: #938787;
    font-size: 15px
}

h5 {
    font-weight: 400
}

.para {
    font-size: 16px
}

.text-right {
    margin-top: 0;
    color: black;
    width: 7%;
    float: right;
}
.pt {
    width: 11%;
}

/*Details*/

.card {
    border: none
}

.product {
    background-color: #eee;
}

.brand {
    font-size: 13px
}

.act-price {
    color: red;
    font-weight: 700
}

.dis-price {
    text-decoration: line-through
}

.about {
    font-size: 14px
}

.color {
    margin-bottom: 10px
}



.col-md-2.mio {
    font-size: 12px;
    padding-top: 7px
}


.r4 {
    padding-left: 25px
}

@media (min-width: 992px) {
    .det-container {
        max-width: 960px
    }
}

.edi {
    background-color:whitesmoke;
}

fieldset {
    min-width: max-content;
    width: auto;
}


div.edit-form-btn {
    padding: 10px;
}
#newBid {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    
    color: black;
    
}
#BidSection {
    position: relative;
    background-color: white;
    min-height: 50vh;
    color: black;
    padding: 4% 0;
}

#newBid h5{
    color:black;
}
.bidItem {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 23%;
    text-align: center;
    margin: 2% 1%;
}

.ed-t {
    border-collapse: collapse;
    width: 70rem;
}

.ro {
    border: 1px solid #ddd;
    height: 5rem;
}

.ed-td {
    padding-left: 1rem;
}

h3{
    margin-left: 1rem;
}

.userlogin  {

    width: 20%;
    display:flex;
    justify-content:center;
    justify-items:center;
    
}
   .userlogin li {
        display: inline;
        padding:0 2%
    }
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 1000px) {
    .welcome img {
        width: 100%
    }

    .bidItem {
        width: 48%
    }

    .txtSearch {
        width: 100%
    }

    .cateDis {
        justify-content:center;
        justify-items:center;
        width: 46%;
    }

    .greeting {
        margin-top: 0rem; 
        font-size: 16px;
    }


}
/*Edit Page*/
.ed-t {
  margin: 2rem auto;
  width: 100%;
  max-width: 800px;
}

.ed-td {
  font-weight: bold;
}

.ed-inputs {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

@media screen and (max-width: 600px) {
  .ed-t tr {
    display: block;
    margin-bottom: 16px;
    border: none;
  }
  
  .ed-inputs {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

  .ed-t td {
    display: block;
    font-weight: bold;
  }
}

/*Add Item Responsive*/
@media (max-width: 600px) {
    
  .create_form {
    margin-top: 30px;
  }

  .create_form label {
    display: inline-block;
    width: 50%;
    max-width: 170px;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
    font-size: 15px;
    color: black;
    margin-bottom: 5px;
   }


  .create_form input,
  .create_form textarea {
    width: 30%;
  }

  input.btn-primary {
    margin-left: 0;
    width: 20%;
  }
}

@media (min-width: 600px) {
  .create_form {
    margin-top: 50px;
  }

  .create_form label {
    display: inline-block;
    width: 170px;
    text-align: right;
    margin-right: 10px;
  }

  .create_form input,
  .create_form textarea {
    width: 20rem;
  }

  input.btn-primary {
    margin-left: 20rem;
    width: 9rem;
  }
}