* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #002b58;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    .welcome img {
        width: 100%
    }
}

html {
    min-width: 550px;
    position: relative;
}

body {
    color: white;
}


header {
    overflow: hidden;
    position: fixed;
    width: 100%;
    text-align: center;
    background: #909caf;
    z-index: 999;
}

.wrap {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    padding: 0, 10%;
    height: 40px
}

.web-logo {
    display: flex;
    float: left;
    padding-left: .1rem;
    padding-top: .5rem;
    width: 86px;
}


.login, .register {
    display: flex;
    float: right;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
}

.logo {
    text-decoration: none;
    width: 10rem;
    margin: 2%;
}

.txtSearch {
    width: 25rem;
    padding: 1.5%;
    margin: 0.2%;
}

.searchButton {
    margin-left: 10px;
    padding: 0 1%;
    background: #ffd256;
}

.second-nav {
    padding: 5px;
    text-align: center;
    align-content: center;
    background: #52678E
}

    .second-nav ul li {
        display: inline;
        margin-right: 6%;
    }

.register:hover {
    background-color: white;
    border-radius: 3px;
}

.login:hover {
    background-color: white;
    border-radius: 3px;
}

main {
    padding-top: 56px;
    min-height: 100vh;
}

.Sellbtns {
    float: left;
    width: 60%;
}

    .Sellbtns ul li {
        display: inline;
    }

    .Sellbtns ul li {
        padding: 2%;
    }

.welcome {
    margin: 0;
    padding: 0;
    background: #002b58;
    height: 80vh;
    width: 100%;
    position: relative;
    margin: 5% 0 0 0;
    text-align: center;
}

.welcome-text, .welcome-img {
    width: 50%;
}

.bid-button {
    text-decoration: none;
    padding: 0.8%;
    border-radius: 3%;
    border: 1px solid #2a2a23;
    color: #191919;
    background: #ffd256;
    margin: 2% 0 0 -4%;
    position: absolute;
}

.welcome-container {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.copy-right {
    width: 100%;
    text-align: center;
    background: #909caf;
    padding: 2% 0;
}

form {
    display: flex;
    margin: 1% 0 0 0;
}


.elc:hover {
    background-color: white;
    border-radius: 5px;
    padding: 2px;
}




.EveryInfo {
    display: flex;
}

    .EveryInfo h1 {
        width: 100%;
        display: block;
    }

.info {
    width: 33%;
    padding: 4%;
}



/*
CSS for images in table
*/

.item-image {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

    .item-image:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
    }

a {
    color: white;
    text-decoration: none;
}

#mainDisplay {
    position: relative;
    background: white;
    top: 80%;
}

#mainDisplay {
    display: flex;
    flex-wrap: wrap;
    color: black;
}

    #mainDisplay a {
        color: black;
    }

.cateDis {
    padding: 2%;
    width: 33%;
    text-align: center;
}

    .cateDis img {
        width: 100%;
        max-width: 400px;
    }

/*Create Item Page*/
.det, .crt, .pt-5, .edt {
    margin-left: 10px;
    margin-top: 4rem;
}

.create {
    background-color: aliceblue;
}

.create_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

fieldset {
    width: auto;
}

    fieldset > legend {
        text-align: left;
        font-size: 30px;
        color: black;
        font-weight: bold;
        margin-top: .5rem;
    }

.create_form label {
    display: inline-block;
    width: 170px;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
    font-size: 15px;
    color: black;
}

.create_form input {
    display: inline-block;
    width: 20rem;
    border-radius: 3px;
}

.create_form textarea {
    display: inline-block;
    width: 20rem;
    border-radius: 3px;
}

.form-group {
    display: flex;
    padding: .5rem;
    margin-bottom: 20px
}

.seller_id {
    float: right;
    padding: .5rem;
}

.input-id {
    display: inline-block;
    width: 10rem;
    border-radius: 3px;
}

.id-label {
    display: inline-block;
    width: 170px;
    text-align: right;
    margin-right: 10px;
    font-weight: bold;
    font-size: 15px;
    color: black;
}

input.btn-primary {
    margin-left: 20rem;
    width: 9rem;
    background-color: dodgerblue;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold
}

.form-btn {
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.back {
    padding: 15px;
}

.add {
    padding: 1rem;
}
/*Item Deatils, Edit, Delete Pages*/
.details {
    padding-left: 20px;
}

.edit {
    margin-left: 12rem;
    width: 6rem;
    background-color: dodgerblue;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    text-align: center
}

.del, .delbtn {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    width: 4rem;
    background-color: red;
    padding: 5px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

    .del:hover {
        background-color: firebrick;
        color: #fff;
    }

.del {
    margin-left: 1rem;
}

.deltitle {
    margin-left: 10px;
    margin-top: 4rem;
}

footer {
    width: 100%;
    padding: 10px 0 0 0;
    text-align: center;
    background: #52678E;
    position: absolute;
    margin-bottom: 0;
}

/*Seller Panel*/

.second-nav ul li:first-child {
    float: left;
    margin-right: 0;
}

    .second-nav ul li:first-child:hover {
        background-color: white;
        border-radius: 10px;
        padding: 2px
    }

/*Seller Items*/
.item-table {
    font-family: arial, sans-serif;
    margin: 10px;
    border-collapse: collapse;
    width: 70%;
}

td {
    text-align: left;
    padding: 8px;
    color: black
}
tr {
    border: 0.5px solid black;
    border-block-color: inherit;
}

.seller-item {
    background-color:ghostwhite;
    padding: 20px;
}
.item-table td:first-child {
    font-weight: bold;
}

.seller-head{
    margin: 10px;
}

/*Search*/
.product-image {
    height: 100px;
    vertical-align: middle;
    border-style: none;
    flex: 0 0 25%;
    max-width: 25%;
}

.text-right {
    margin-top: 0.25rem;
    color: black;
}

.p-2 {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    margin-right: 100px;
    margin-left: 250px;
}

.item-row {
    justify-content: center;
}

.text-price {
    color: black;
    font-size: 2rem;
}


.mt-1 {
    color: black;
}

.d-flex {
    display: flex;
    justify-content: left;
    color: black;
    font-weight: bold;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.border-left {
    border-left: 0.5px solid black;
}

.product-image {
    width: 100%
}


.spec-1 {
    color: #938787;
    font-size: 15px
}

h5 {
    font-weight: 400
}

.para {
    font-size: 16px
}

.text-right {
    margin-top: 0;
    color: black;
    width: 7%;
    float: right;
}
.pt {
    width: 11%;
}


