* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #002b58;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    color: white;
}

main {
    height: 100vh;
}

.register:hover {
    background-color: white;
    border-radius: 3px;
}

.login:hover {
    background-color: white;
    border-radius: 3px;
}

header {
    overflow: hidden;
    position: fixed;
    width: 100%;
    text-align: center;
    background: #909caf;
    z-index: 999;
}

.welcome {
    margin: 0;
    padding: 0;
    background: #002b58;
    height: 80vh;
    width: 100%;
    position: absolute;
    margin: 5% 0 0 0;
    text-align: center;
}

.welcome-text, .welcome-img {
    width: 50%;
}

.bid-button {
    text-decoration: none;
    padding: 0.8%;
    border-radius: 3%;
    border: 1px solid #2a2a23;
    color: #191919;
    background: #ffd256;
    margin: 2% 0 0 -4%;
    position: absolute;
}

.welcome-container {
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
}

.copy-right {
    width: 100%;
    text-align: center;
    background: #909caf;
    padding: 2% 0;
}

.wrap {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    padding: 0, 10%;
    height: 40px
}

.web-logo {
    display: flex;
    float: left;
    padding-left: .1rem;
    padding-top: .5rem;
    width: 86px;
}

.login, .register {
    display: flex;
    float: right;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
}

.logo {
    text-decoration: none;
    width: 10rem;
    margin: 2%;
}

form {
    display: flex;
    margin: 1% 0 0 0;
}


.second-nav {
    padding: 5px;
    text-align: center;
    background: #52678E
}

    .second-nav ul li {
         display: inline;
         margin-left: 5%;
    }

.home:hover {
    background-color: white;
    border-radius: 5px;
    padding: 2px;
}

.elc:hover {
    background-color: white;
    border-radius: 5px;
    padding: 2px;
}

.fash:hover {
    background-color: white;
    border-radius: 5px;
    padding: 2px;
}

.books:hover {
    background-color: white;
    border-radius: 5px;
    padding: 2px;
}


.txtSearch {
    width: 25rem;
    padding: 1.5%;
    margin: 0.2%;
}

.searchButton {
    margin-left: 10px;
    padding: 0 1%;
    background: #ffd256;
}


.EveryInfo {
    display: flex;
}

    .EveryInfo h1 {
        width: 100%;
        display: block;
    }

.info {
    width: 25%;
    padding: 4%;
}

footer {
    top:165%;
    width:100%;
    padding: 10px 0 0 0;
    text-align: center;
    background: #52678E;
    position: absolute;
    margin-bottom: 0;
}

/*
CSS for images in table
*/

.item-image {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.item-image:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

a {
    color: white;
    text-decoration: none;
}

#mainDisplay{
height:80vh;
position:relative;
background:white;
top:80%;
}

#mainDisplay {
    display: flex;
    flex-wrap: wrap;
    color: black;
}
.cateDis {
    padding:2%;
    width:33%;
    text-align:center;
}

    .cateDis img {
        width: 300px;
        height: 300px;
    }