@{
    ViewData["Title"] = "Home Page";
}

<div class="welcome container  pt-5">
    <div class="welcome-container">
        <div class="welcome-text">
            <h1>Welcome to LocoTrade</h1>
            <h3>Best Place for biding item</h3>
            <a asp-fragment="mainDisplay" class="bid-button">Start Bidding</a>
        </div>
        <div class="welcome-img">
            <img src="Header_img.png">
        </div>

    </div>
</div>
<div id="mainDisplay">
    
        
        
        
        
        
        
        
            <div class="cateDis"><a asp-controller="Search">
                <img src="~/Images/home.jpeg" />
               <h4>Home</h4>
               </a>
            </div>

            <div class="cateDis"><a asp-controller="Search">
                <img src="~/Images/computer.jpeg" />
                <h4>Computer</h4></a>
                 
            </div>

            <div class="cateDis"><a asp-controller="Search">
               <img src="~/Images/fashion.jpeg" />
                <h4>Fashion</h4></a>
            
            </div>
            <div class="cateDis"><a asp-controller="Search">
               <img src="~/Images/electronic.jpg" />
                <h4>Electronic</h4></a>
                
            </div>
            <div class="cateDis"><a asp-controller="Search">
               <img src="~/Images/books.jpg" />
                <h4>Books</h4></a>
                
            </div>
            <div class="cateDis"><a asp-controller="Search">
               <img src="~/Images/games.jpg" />
                <h4>Games</h4></a>
                
            </div>
             
        
        

   
</div>
