@model IEnumerable<Product>;
@{
    ViewData["Title"] = "Home Page";
}



<div class="welcome container  pt-5">
    <div class="welcome-container">
        <div class="welcome-text">
            <h1>Welcome to LocoTrade @ViewData["User"]</h1>
            <h3>Best Place for biding item</h3>
            <a asp-fragment="BidSection" class="bid-button">Start Bidding</a>
        </div>
        <div class="welcome-img">
            <img src="Header_img.png">
        </div>

    </div>
</div>
<div id="BidSection">
<h3>Recently Added Item</h3>
<div id="newBid" >
    

    @foreach (var item in Model)
{
    


            <div class="bidItem" >
                <a asp-action="Details" asp-controller="Search" asp-route-id="@item.Id">
            <img src="~/Images/@item.Image" style="width:100%;">
       
            <h5>@item.Name</h5>
                <h4 class="mr-4"> <span class="text-price"> $ @item.Cost</span></h4>
            </a>
            </div>
            


}
</div>
</div>
<div id="mainDisplay">    
            <div class="cateDis"><a asp-controller="Search" asp-action="QueueResult" asp-route-item="home">
                <img src="~/Images/home.jpeg" />
               <h4>Home</h4>
               </a>
            </div>

            <div class="cateDis"><a asp-controller="Search" asp-action="QueueResult"  asp-route-item="computer">
                <img src="~/Images/computer.jpeg" />
                <h4>Computer</h4></a>
                 
            </div>

            <div class="cateDis"><a asp-controller="Search" asp-action="QueueResult" asp-route-item="fashion">
               <img src="~/Images/fashion.jpeg" />
                <h4>Fashion</h4></a>
            
            </div>
            <div class="cateDis"><a asp-controller="Search" asp-action="QueueResult" asp-route-item="electronic">
               <img src="~/Images/electronic.jpg" />
                <h4>Electronic</h4></a>
                
            </div>
            <div class="cateDis"><a asp-controller="Search" asp-action="QueueResult" asp-route-item="books">
               <img src="~/Images/books.jpg" />
                <h4>Books</h4></a>
                
            </div>
            <div class="cateDis"><a asp-controller="Search" asp-action="QueueResult" asp-route-item="game">
               <img src="~/Images/games.jpg" />
                <h4>Games</h4></a>
                
            </div>
             
        
        

   
</div>
