@model Product;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_sellerPanelTemplate";
}
<h2 class="add">Add Item</h2>
<hr />
<div class="create">
    <div class="col-md-12">
       
        <form asp-action="AddProduct" asp-controller="Seller" enctype="multipart/form-data" method="post" class="create_form">
            <fieldset>
                <legend>Product</legend>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="seller_id form-group">
                <label class="id-label">Seller ID</label>
                <input asp-for="Username" class="input-id" placeholder="SELLER ID" required/>            
            </div>
            <div class="form-group">
                <label  class="control-label">Name</label>
                <input asp-for="Name" class="input-control" placeholder="PRODUCT NAME"/>
                <span  class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label  class="control-label">Description</label>
                <textarea asp-for="Description" class="input-control" placeholder="PRODUCT DESCRIPTION" ></textarea>
                <span  class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label  class="control-label">Cost</label>
                <input asp-for="Cost"  class="input-control" placeholder="PRODUCT COST" />
                <span  class="text-danger"></span>
            </div>

            <div class="form-group">
                <label  class="control-label">Start Bid</label>
                <input asp-for="StartBidDate" class="input-control" type="datetime-local" value="2023-01-12T19:30"
                min="2023-02-20T00:00" max="2023-04-30T00:00" />
                <span  class="text-danger"></span>
                <label class="control-label">End Bid</label>
                <input asp-for="ExpiryBidDate" class="input-control" type="datetime-local" value="2023-01-12T19:30"
                min="2023-02-21T00:00" max="2023-05-30T00:00" />
                <span  class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label  class="control-label">Asset Condition</label>
                <select asp-for="Asset_condition"  class="input-control">
                    <option value="">CONDITION</option>
                    <option value="new">New</option>
                    <option value="good">Good</option>
                    <option value="used">Used</option>
                </select>
                <span  class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label  class="control-label">Category</label>
                <select asp-for="CategoryId" class="input-control">
                        @foreach(Category cat  in @ViewBag.Categories)
                        {
                            <option value="@cat.CategoryId">@cat.CategoryName</option>
                        }
                        
                   
                </select>
                <span  class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label  class="control-label">Image</label>
                <input name="ImageFile" required  class="input-control" type="file" />
                <span class="text-danger"></span>
            </div>
            <div class="form-btn">
                <input type="submit" value="Create" class="btn-primary" />
            </div>
            </fieldset>
        </form>
    </div>
</div>

<div class="back">
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}