html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
header {
    width: 100%;
    text-align: center;
    background: #909caf;
}
.wrap {
    width: 80%;
    display: flex;
    align-content:center;
}
.logo{
    width:25%;
    margin:0 2%; 

}
form{
    width: 40%;
    display:flex;
    margin: 1% 0 0 0;
}
li{
    
}