@model WebApp1.Models.Login
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "LocoTrade - Login";
}

@{
    Layout = "~/Views/Shared/_LoginRegisterLayout.cshtml";
}


<section class="vh-100">
    <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-md-8 col-lg-7 col-xl-6">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                     class="img-fluid" alt="Phone image">
            </div>
            <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                <form asp-action="Login" method="post">
                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="text" asp-for="Username" id="Username" class="form-control form-control-lg" />
                        <label class="form-label" for="Username">Username</label>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-4">
                        <input type="password" asp-for="Password" id="Password" class="form-control form-control-lg" />
                        <label class="form-label" for="Password">Password</label>
                    </div>                   

                    <!-- Submit button -->
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>

                    <div class="divider d-flex align-items-center my-4">
                        <a class="text-center fw-bold mx-3 mb-0" asp-action="Register" >Not yet registered? Click Here</a>
                    </div>
                    

                    <p> @ViewData["Account"] </p>

                    @Html.ValidationMessageFor(x => x.Username)
                    @Html.ValidationMessageFor(x => x.Password)

                </form>
            </div>
        </div>
    </div>
</section>