@model WebApp1.Models.Registration

<div>
    <form asp-action="Register" method="post">
        <input type="text" asp-for="Username" id="Username" />
        <label for="Username">Username</label>
        <input type="password" asp-for="Password" id="Password" />
        <label for="Password">Password</label>
        <input type="text" asp-for="Name" id="NAme" />
        <label for="Name">Name</label>
        <input type="text" asp-for="Email" id="Email" />
        <label for="Email">Email</label>
        <button tupe="submit" >Register</button>
        @Html.ValidationSummary()
        
    </form>

</div>
